.Strip{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--text-primary);
}

.strip-container{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-background);
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}
.strip-container div{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.strip-number{
    margin: 0;
    font-size: 50px;
    color: var(--accent);
}

@media only screen and (max-width: 900px) {
    .Strip{
    height: 50vh;
}

.strip-container{
    height: 300px;
    width: 80%;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.strip-container div{
    height: 100%;
    width: 100%;
}
.strip-number{
    font-size: 40px;
}
}