.About {
  height: 170vh;
  width: 100%;
  color: var(--text-primary);
}
.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-sect-cont {
  /* border: 1px solid; */
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-sect-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-sect-box p {
  font-size: 30px;
  font-weight: 300;
}
.about-text-left {
  text-align: left;
}
.about-text-right {
  text-align: right;
}

@media only screen and (max-width: 900px) {
  .About{
    height: 400vh;
  }
  .about-sect-cont {
    flex-direction: column;
    
  }
  .about-sect-box {
    width: 100%;
  }

  .about-sect-box p {
    text-align: left;
    font-size: 25px;
  }
  .varient-box{
    flex-direction: column-reverse;
  }
}
